/target/
.classpath
.project
.settings/
*.class
/log/

skcoins/target/
skcoins/.classpath
.project
skcoins/.settings/
skcoins/*.class
skcoins/log/

model/target/
model/.classpath
model/.project
model/.settings/
model/bin/

utils/target/
utils/.classpath
utils/.project
utils/.settings/
utils/bin/
